@import "../styles/variables.scss";

.navigation-bar {
  color: var(--medium-blue);
  background-color: #ebebeb;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100vw;

  padding-inline: 0;
  @media (min-width: $tablet-breakpoint) {
    min-height: 4.5rem;
    padding-inline: 3rem;
  }
}

.navigation-bar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-layout-width);
  width: var(--max-layout-width);
  height: 3rem;
}

.navigation-bar-item {
  display: none;
  font-size: 0.5rem;
  @media (min-width: $tablet-breakpoint) {
    display: flex;
    font-size: 0.75rem;
  }
  @media (min-width: $desktop-breakpoint) {
    font-size: 0.9rem;
  }
  padding-inline: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  height: 4.5rem;
  &:hover {
    background-color: var(--lightest-blue);
  }
}

.navigation-bar-left {
  display: flex;
  align-items: center;
  .navigation-bar-item {
    &:first-child {
      margin-left: -0.5rem;
    }
  }
}

.navigation-bar-right {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.navigation-bar-desktop {
  border: 2px solid var(--medium-blue);
  display: none;
  @media (min-width: $tablet-breakpoint) {
    display: flex;
    align-items: center;
  }
  height: 2.5rem;
  .navigation-bar-item {
    height: 2.5rem;
    &:hover {
      background-color: var(--medium-blue);
      color: white;
    }
  }
}

.navigation-bar-mobile {
  margin-right: 1rem;

  cursor: pointer;
  display: flex;
  @media (min-width: $tablet-breakpoint) {
    display: none;
  }
  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.navigation-item-container {
  // position: relative;
}

.navigation-bar-dropdown {
  position: absolute;
  top: 4.5rem;
  background-color: #efefef;
  z-index: 1;
  font-size: 0.5rem;
  @media (min-width: $tablet-breakpoint) {
    display: flex;
    font-size: 0.75rem;
  }
  @media (min-width: $desktop-breakpoint) {
    font-size: 0.9rem;
  }
  display: flex;
  flex-direction: column;
  margin-left: -0.5rem;
}

.navigation-bar-dropdown-item {
  padding: 1rem;
  cursor: pointer;
  &:hover {
    background-color: var(--lightest-blue);
  }
}
